# Visual Studio user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
Debug/
Release/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Publish profiles (deployment settings)
**/Properties/PublishProfiles/

# Packages
*.nupkg
*.snupkg
packages/
*.vsix
*.cache
*.config

# Others
*.tmp
*.bak
*.swp
*.dbmdl
*.jfm
